<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8" />
    <title>Edit user</title>
</head>
<body>
<div align="right">
    <a href="/logout">logout</a>
</div>
<div align="center">
    <h1>Edit user</h1>
    <br />
    <form action="#" th:action="@{/a/save}" th:object="${account}"
          method="post">

        <table border="0" cellpadding="10">
            <tr>
                <td>User ID:</td>
                <td>
                    <input type="text" th:field="*{id}" readonly="readonly" />
                </td>
            </tr>
            <tr>
                <td>email:</td>
                <td><input type="text" th:field="*{email}" /></td>
            </tr>
            <tr>
                <td>password:</td>
                <td><input type="password" th:field="*{password}" /></td>
            </tr>
            <tr>
                <td>type:</td>
                <select th:field="*{type}">
                    <option th:value="'L'" th:text="livreur"></option>
                    <option th:value="'R'" th:text="resturateur"></option>
                </select>
            </tr>
            <tr>
                <td colspan="2"><button type="submit">Save</button> </td>
            </tr>
        </table>
    </form>
</div>
</body>
</html>