<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8" />
    <title>Create New user</title>
</head>
<body>
<div align="center">
    <h1>Create New user</h1>
    <br />
    <form action="#" th:action="@{/a/c/save}" th:object="${account}"
          method="post">

        <table border="0" cellpadding="10">
            <tr>
                <td>email:</td>
                <td><input type="text" th:field="*{email}" /></td>
            </tr>
            <tr>
                <td>password:</td>
                <td><input type="password" th:field="*{password}" /></td>
            </tr>
            <tr>
                <td><input type="hidden" th:field="*{type}" value="C" /></td>
            </tr>
            <tr>
                <td colspan="2"><button type="submit">Save</button> </td>
            </tr>
        </table>
    </form>
</div>
</body>
</html>